<%- include("./partials/header") %> 


      <section class="banner" id="home">
      
        <div class="banner-inner-container">
            <div class="banner-text left slideIn">
              <div class="social-media " >
                <ul>
                  <li><a href="javascript:(void)"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="mailto:iam4emmax@gmail.com"><i class="fab fa-google"></i></a></li>
                  <li><a href="javascript:(void)"><i class="fab fa-whatsapp"></i></a></li>
                  <li><a href="javascript:(void)"><i class="fab fa-instagram"></i></a></li>

                </ul>
              </div>
                <h2> <span style="font-weight: 100; text-transform: capitalize;">Hello,</span> I am Emmax  <br>Full-Stack  developer </h2>
                <p>I Specialised in UX/UI Design, Creating websites and Web Applications </p>
                <div class="callback">
                  <a href="#porto" id="portofolio">My Portofolio</a>
                  <a href="#contact" id="hire">Hire me</a>
                </div>
            </div>
              <div class="banner-img right slideIn">
                
              </div>
        </div>
      </section>

      <!-- header wrapper closing section -->
</section> 

<!-- my service -->
<%- include("./partials/service") %> 
<%- include("./partials/about") %>

<%- include("./partials/portofolio") %> 
<%- include("./partials/testimonial") %> 
<%- include("./partials/blog") %> 
<%- include("./partials/contact") %> 


<div class="loader">
  <div class="preloader"></div>
</div>
<%- include("./partials/footer") %> 